<div class="thesis-card">
  <div class="image-section">
    <img src="assets/t7b/cover.png" alt="card-photo" />
    <div class="image-overlay">
      <div class="school">{{school}}</div>
      <div class="fields">
        <span class="main-field">{{mainField}}</span>
        <span class="sub-field">{{subField}}</span>
      </div>
    </div>
  </div>
  <div class="info-section">
    <div class="title">{{title}}</div>
    <div class="author-year">
      <span class="author">{{author}}</span>
      <span class="year">{{publishedYear}}</span>
    </div>
    <div class="grade-rating">
      <span class="grade">Grade: {{grade}}</span>
      <span class="rating">
        <ng-container *ngFor="let star of [1,2,3,4,5]">
          <span [class.filled]="star <= rating">&#9733;</span>
        </ng-container>
      </span>
    </div>
    <div class="button">
        <button (click)="onCardClick()">Read more</button>
    </div>
  </div>
</div>