<div class="class-page">
    <div class="cover-photo">
        <img src="assets/t7b/cover.png" alt="cover-photo" />
    </div>
    <div class="info-section">
        <h2>{{ name || 'Static name' }}</h2>
        <span>{{ professor || 'Static professor' }}</span>
    </div>
    <div class="create-class">
        <button (click)="onCreate()">Create class</button>
    </div>
    <div class="create-post">
        <input (click)="onPost()" placeholder="What you need to do ask ?"/>
    </div>
    <div class="newsfeed">
        <app-post
            *ngFor="let post of posts"
            [author]="post.author"
            [createdAgo]="post.createdAgo"
            [post]="post.post"
            [likeCount]="post.likeCount"
            [dislikeCount]="post.dislikeCount"
            [comments]="post.comments"
        ></app-post>
    </div>
</div>