<div class="footer">
    <div class="sections">
        <div class="section">
            <h4>Product</h4>
            <ul>
                <li><a href="/">Rattle Core</a></li>
                <li><a href="/">Rattle Agents</a></li>
            </ul>
        </div>
        <div class="section">
            <h4>Use Cases</h4>
            <ul>
                <li><a href="/">RevOps 2.0</a></li>
                <li><a href="/">Process Adherence</a></li>
                <li><a href="/">Pipeline Management</a></li>
                <li><a href="/">Pipeline Visibility</a></li>
                <li><a href="/">Coaching & Training</a></li>
                <li><a href="/">Deal Collaboration</a></li>
                <li><a href="/">Revenue Gaps & Bottlenecks</a></li>
                <li><a href="/">Post-Sales Handoff</a></li>
            </ul>
        </div>
        <div class="section">
            <h4>Resources</h4>
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/">Case Studies</a></li>
                <li><a href="/">Playbook</a></li>
                <li><a href="/">Guides & Reports</a></li>
                <li><a href="/">Webinars</a></li>
                <li><a href="/">Help Center</a></li>
                <li><a href="/">Trust Center</a></li>
            </ul>
        </div>
        <div class="section">
            <h4>Company</h4>
            <ul>
                <li><a href="/">About Us</a></li>
                <li><a href="/">Partners</a></li>
                <li><a href="/">Careers</a></li>
            </ul>
        </div>
    </div>
</div>